[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
colored = "*"
dosbox-screen = "*"
readchar = "*"

[dev-packages]
radon = "*"

[requires]
python_version = "3.7"
